<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Outages</h1>
         <% results.forEach(function(result) { %>
           <li><%= result.date %>/ Upload:<%= result.upload %>/ Download:<%= result.download %></li>
         <% }); %>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>