<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div>
        <h1>Search Records</h1>

        <form method="post" action="/filter-outages"> 
			   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
               <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
 
					<script type="text/javascript">
					 $(function () {
					  $(".flatpickr").flatpickr({
					    enableTime: false
					  });
					});
				   </script>  
             		 
			   <br/>  
			   Start <input id="start" name="start" class="flatpickr">
			   End <input id="end" name="end" class="flatpickr">

			     <input type="submit" value="Go"/>
			    

			</form>

        <hr>
        <p>Last 20 Readings</p>
         <table class="table">
         <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>  
         </tr>
         <% results.forEach(function(result) { %>
         <tr>
           <td></td>
           <td><%= result.date %></td> 
         </tr>
         <% }); %>
         </table>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>